<!-- To the right -->
<div class="pull-right hidden-xs">
    Version <%= app_version %>
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.